In [11]:
import pandas as pd
import json

posts = json.load(open('./examples/scraped_posts_2025-12-03_18-41-34.json'))
df = pd.json_normalize(posts)
df.head()

,cid,indexed_at,uri,bookmark_count,debug,embed,labels,like_count,quote_count,reply_count,...,embed.record.embeds,embed.record.labels,embed.record.like_count,embed.record.quote_count,embed.record.reply_count,embed.record.repost_count,embed.record.py_type,embed.record.value.embed.images,embed.record.value.reply,embed.record.author.verification
0,bafyreihvvdipczepceyxxxmuxtwhpl5vvi7qijikeiitr...,2025-12-01T00:59:29.533Z,at://did:plc:ceure4mfaxd3gh4fbkcvp2je/app.bsky...,0,None,NaN,[],4,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,bafyreibuwvjkjuruxgtqhyw6attwpktu5ceop23tuitkf...,2025-12-01T01:57:22.434Z,at://did:plc:do46s3u6h22vzu6nogkm4rc7/app.bsky...,0,None,NaN,[],12,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,bafyreibdjejgkbrdqx3f2g4fg5ahv2gwqjdaehbpll4pc...,2025-12-01T02:58:33.034Z,at://did:plc:f42ntlx4xz4bo3eabvlcpdrv/app.bsky...,0,None,NaN,[],1,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,bafyreiffktcw6vpbtt33mukspiauvujctgxtmquq36mdg...,2025-12-01T03:57:28.833Z,at://did:plc:bfctdt64ifpjcajketysws2t/app.bsky...,0,None,NaN,[],1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,bafyreihglrekfokegb6m7aq4iwn26ywr4nfnqvtewwu3z...,2025-12-01T04:50:14.032Z,at://did:plc:i53e6y3liw2oaw4s6e6odw5m/app.bsky...,0,None,NaN,"[{'cts': '2025-12-01T04:50:12.000Z', 'src': 'd...",0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN